/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  display: grid;
  justify-content: center;
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--main-font), sans-serif;
  font-size: 18px;
  background-image: var(--bg-image);
  background-size: cover;
  background-attachment: fixed;
  color: var(--accent-color);
}


/* Общие сущности */


button {
  outline: none;
}

.button {
  font-size: 14px;
  border: 2px solid var(--accent-color);
  font-family: var(--accent-font), monospace;
  background-color: var(--bg-color);
}

.button::before {
  content: '';
  display: block;
  position: absolute;
  background-color: var(--accent-color);
  inline-size: 100%;
  block-size: 100%;
  left: 0;
  top: 0;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.5s ease-in-out;
}

.button:hover::before {
  transform: scaleX(1);
}

.button__text {
  position: relative;
  transition: color .3s ease;
  z-index: 1;
}

.button:hover
.button__text {
  color: var(--bg-color);
  transition: color .3s ease .3s;
}

.button:focus {
  box-shadow: 2px 2px var(--accent-color);
  transition: box-shadow .3s ease;
}

.theme-menu__button {
  position: relative;
  border: none;
  background-color: transparent;
  text-transform: uppercase;
  cursor: pointer;
}

.theme-menu__button:disabled::before {
  content: '▶';
  position: absolute;
  display: inline-block;
  inline-size: 14px;
  block-size: 14px;
  margin-inline-start: -19px;
  animation: arrow 0.5s ease-in-out infinite alternate;
}

.theme-menu__button:disabled,
.theme-menu__button:focus,
.theme-menu__button:hover {
  opacity: 0.6;
  transition: opacity 0.3s ease;
}

.theme-menu__button:disabled {
  cursor: default;
  pointer-events: none;
}

.theme-menu__button::after {
  content: '';
  position: absolute;
  border-block-end: 2px solid var(--accent-color);
  inline-size: 80%;
  left: 0.5ch;
  bottom: 0;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease;
}

.theme-menu__button:focus-visible::after {
  transform: scaleX(1);
}

.content_size {
  inline-size: var(--width);
}

.main__content_card {
  display: flex;
  flex-direction: column;
  inline-size: var(--width);
  background-color: var(--bg-color);
  border: 2px  solid var(--accent-color);
  padding-inline: 10px;
  line-height: 1.167em;
  margin-block-end: 49px;
}

.main__content_card-title {
  font-variation-settings: 'wght' var(--font-wght-bold);
  font-size: 18px;
  line-height: 1.21em;
  margin-block: 4px;
}

.main__content-picture-container {
  position: relative;
  inline-size: calc(100% + 24px);
  margin-inline-start: -12px;
  border: 2px solid var(--accent-color);
  aspect-ratio: 1 / 1;
  overflow: hidden;
}

.main__picture {
  display: block;
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
  object-position: right;
}

.watermark {
  position: absolute;
  right: 25px;
  top:  25px;
  font-size: 14px;
  font-family: var(--accent-font);
  color: var(--accent-color);
  text-shadow: 
    1px 1px var(--bg-color),
    1px -1px var(--bg-color),
    -1px 1px var(--bg-color),
    -1px -1px var(--bg-color);
  opacity: 0.6;
  z-index: 1;
}

@supports((text-stroke: 1px var(--bg-color)) or (-webkit-text-stroke: 1px var(--bg-color))) {
  .watermark {
    -webkit-text-stroke: 1px var(--bg-color);
    text-stroke: 1px var(--bg-color);
    text-shadow: none;
  }
} 

.main__content_card-desc {
  display: flex;
  flex-direction: column;
  gap: 26px;
  padding: 24px 15px 25px;
}

.main__content_card-paragraph {
  font-variation-settings: 'wght' var(--font-wght-norm);
}

.card__button-section {
  display: block;
  margin-inline-start: auto;
}

.card__icon-button {
  position: relative;
  display: inline-block;
  inline-size: 40px;
  block-size: 40px;
  border: none;
  background-color: var(--bg-color);
  vertical-align: middle;
  transition: border-color 0.3s ease;
}

.card__icon-button::before {
  content: '';
  position: absolute;
  border: 2px solid transparent;
  left: 6px;
  top: -1px;
  block-size: 38px;
  inline-size: 39px;
  transition: border-color 0.3s ease;
}

.card__icon-button:focus-visible::before {
  border-color: var(--accent-color);
}

.card__like-button {
  position: relative;
  font-size: 14px;
  inline-size: 130px;
  block-size: 38px;
  padding: 0;
  margin-inline-start: 5px;
}


/* Сердешко */


.sparks {
  opacity: 0;
}

.contour {
  fill: var(--accent-color);
  transition: fill .1s linear;
}

.card__icon-button 
.core {
  fill: var(--bg-color);
  transition: fill .3s linear .03s;
}

.card__icon-button:hover .core {
  fill: var(--accent-color);
  transition: fill .3s linear;
}

.card__icon-button 
.main-body {
  fill: var(--bg-color);
  transition: fill .3s linear;
}

.card__icon-button:hover .main-body {
  fill: var(--accent-color);
  transition: fill .3s linear .05s;
}

.card__icon-button:active .core,
.card__icon-button:active .main-body {
  fill: var(--heart-fill-color);
}

.like-icon.is-liked .core {
  fill: var(--heart-fill-color);
  transition: fill .3s linear;
}

.like-icon.is-liked .main-body {
  fill: var(--heart-fill-color);
  transition: fill .3s linear .03s;
}

.like-icon.is-liked .contour {
  fill: var(--heart-fill-color);
  transition: fill .3s linear .06s;
}

.like-icon.is-liked .heart {
  animation: like .3s ease-in .1s;
}

.like-icon.is-liked .sparks {
  animation: like__sparks .3s ease-in .3s;
}


/* Основные стили */


.header {
  display: flex;
  flex-direction: column;
  justify-content: end;
  gap: 25px;
  padding-block-end: 25px;
  block-size: clamp(323px, 19.4554rem + 3.6607vw, 364px);
  text-align: center;
  margin-block: 100px;
  font-family: var(--accent-font), monospace;
  background-color: var(--bg-color);
  border: 2px  solid var(--accent-color);
  text-transform: uppercase;
}

.header__subgrid {
  display: flex;
  flex-direction: column;
  align-self: center;
  gap: 20px;
}

.title {
  font-variation-settings: 'wght' var(--font-wght-norm), 400;
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
}

.header__subtitle {
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
}

.header__theme-menu {
  align-self: center;
  font-size: 14px;
}

.theme-menu__list {
  display: flex;
  flex-direction: column;
  gap: 12px;
  inline-size: 75px;
  align-items: start;
}

.main__content {
  line-height: 1.167em;
}

.grayscale {
  filter: grayscale(70%) contrast(90%);
}

.saturate {
  filter: saturate(400%);
}

.hue-rotate {
  filter: hue-rotate(25deg)
}

.invert {
  filter: invert(1) contrast(60%);
}

.sepia {
  filter: sepia(90%);
}

.blur {
  filter: blur(10px)
}

.mixed {
  filter: hue-rotate(80deg) blur(2px) contrast(50%) saturate(140%) ;
}

.footer {
  display: block;
  margin-inline: auto;
  margin-block-end: 102px;
}

.footer__button {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  min-inline-size: 308px;
  padding: 15px 20px;
}

.floppy {
  color: var(--accent-color);
  width: 21px;
  height: 21px;
  transition: color .3s ease .2s;
  z-index: 1;
}

.footer__button:hover .floppy {
  color: var(--bg-color);
  transition: color .3s ease .1s;
}


/* Модалка */


#modal {
  display: flex;
  position: fixed;
  place-items: center;
  padding: 0;
  min-width: 341px;
  max-width: 357px;
  max-height: 195px;
  border: none;
  font-family: var(--accent-font);
  color: var(--accent-color);
  transition: opacity 0.3s ease;
  overflow: hidden;
}

#modal::backdrop {
  background-color: rgba(0, 0, 0, .75);
}

dialog:not([open]) {
  opacity: 0;
  pointer-events: none;
}

.modal__window {
  display: block;
  border: 2px solid var(--accent-color);
  background-color: var(--bg-color);
  padding: 30px;
}

#modal .floppy {
  display: inline-block;
  vertical-align: 50%;
  width: 39px;
  height: 39px;
}

.modal__text {
  position: relative;
  display: inline-block;
  inline-size: 70%;
  font-weight: 400;
  font-size: 14px;
  text-transform: uppercase;
  line-height: 1.5em;
}

.modal__button {
  position: relative;
  block-size: 38px;
  inline-size: 100%;
  margin-block-start: 30px;
}


/* Медиазапросы */


@media (width <= 375px) {
  :root {
  --width: 100%;
  }

  .footer__button {
    flex-direction: column;
    gap: 0;
  }

  .floppy {
    width: 28px;
    height: 28px;
  }
}